{% extends "base.html" %}

{% block content %}
</br>
</br>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">#1</p>
          <p class="subtitle">Can you find the first flag on this page?</p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">#2</p>
          <p class="subtitle">Can you view the feed without logging in?</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">#3</p>
          <p class="subtitle">Challenge number 3 here</p>
            <div class="content">
          Find some kind of way to do a crypto challenge

        </div>

        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">#4</p>
        <p class="subtitle">View Feed for user: captainJack</p>
        <div class="content">
          <!-- flag (thereisaflaghere) -->
            This one may be a challenge there might be more than one way to do this

        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">#5</p>
        <p class="subtitle">Find the hidden page</p>
        <div class="content">
          More crypto here maybe? Maybe a Base64 encoded URL and authentication bypass?
        </div>
      </div>
    </article>
  </div>
</div>










{% endblock %}